# Python
__pycache__/
*.py[cod]
*$py.class

# Env
.env
.env.local
.env.*.local
venv/
ENV/
env/
.venv/

db.sqlite3
db.sqlite3-journal

staticfiles/
static/
media/

static_root/
media_root/

# **/migrations/
# !**/migrations/__init__.py

.vscode/
.idea/
*.swp

.DS_Store
Thumbs.db

*.log
logs/
celerybeat-schedule
celerybeat.pid

build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

.coverage
.tox/
.nox/
.cache/
htmlcov/
.coverage.*
.pytest_cache/

docker-compose.override.yml
*.pid

.vercel/

*.sqlite3
/.ruff_cache/
